  <!--menu-->
    <nav class="info_bar">
      <ul>
        <li class="info_list"><ion-icon name="logo-instagram"></ion-icon></li>
        <li class="info_list"><ion-icon name="logo-whatsapp"></ion-icon></li>
        <li class="info_list"><ion-icon name="logo-facebook"></ion-icon></li>
        <li class="info_list"><ion-icon name="logo-linkedin"></ion-icon></li>
        <li class="info_list"><ion-icon name="logo-twitter"></ion-icon></li>
      </ul>
      <a class="info_link" href="tel:+994556903017"><ion-icon name="call-outline"></ion-icon> +994556903017 |</a>
      
      <a class="info_link" href="mailto"> <ion-icon name="mail-outline"></ion-icon> bakucabweb@gmail.com</a>
      
    </nav>
      <header>
        
      <nav class="men">
        <!--toggle-->

        <ul class="menu">
          <a class="menulist" href="/"><li class="menucont">Home</li></a>
          <a class="menulist" href="/about"><li class="menucont">About</li></a>
          <a class="menulist" href="/payment"><li class="menucont">Payment</li></a>
          <a class="menulist" href="/contact"><li class="menucont">Contact</li></a>
        </ul>
        <h1 class="menu_logo">UMEX</h1>
      </nav>
      </header>