<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--lirary-->    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--style-->
    <link rel="stylesheet" type="text/css" href="/index.css">
 
<title>umex || <%=title%></title>
  </head>
  <body>
    
  <%-include('./inc/menu')%>
      <!--body-->
      <div class="card_bx">
        <h1 class="header">UMEX</h1>
        <h2 class="header_1">EN IYI HIZMET</h2>
</div>
    <div class="line"></div>
     <div class="card_bx_1">
      
</div>
   
  </body>
</html>